<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/chart.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/smile.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/copy.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/pen.css' rel='stylesheet'>
    <title><%= title %></title>
    <link rel="stylesheet" href="Account Management (Admin).css">
</head>
<body>

    

    <main id="main">

        <div class="nav">
            <div class="image">
                <a href="/">
                    <img src="/Six7TwoLogo.png" alt="">
                </a>
            </div>
    
            <div class="we">
            <a class="bb" href="/products">
                <div class="te">
                    <h5 class="test">Products</h5>
                </div>
            </a>
    
            <a class="bb" href="/inventory">
                <div class="te">
                    <h5 class="test">Inventory</h5>
                </div>
            </a>
    
            <a class="bb" href="/reports">
                <div class="te">
                    <h5 class="test">Reports</h5>
                </div>
            </a>
            
            <a class="bb" href="/supplier">
                <div class="te">
                    <h5 class="test">Supplier</h5>
                </div>
            </a>
    
            <a class="bb" href="/transactions">
                <div class="te">
                    <h5 class="test" id="accBtn">Transactions</h5>
                </div>
            </a>

            <a class="bb" href="/logs">
                <div class="te">
                    <h5 class="test">Logs</h5>
                </div>
            </a>

            <a class="bb" href="/account">
                <div class="te" id="currentPage">
                    <h5 class="test" id="accBtn">Accounts</h5>
                </div>
            </a>

            
                <div id="logoutBtn" onclick="logout()" style="cursor: pointer;">
                    <h5 class="testLogout" id="accBtn">Logout</h5>
                </div>

        </div>
        </div>

        <div class="table-container">
            <h1 id="title">ACCOUNT MANAGEMENT</h1>

            <table>
                <tr>
                    <th>Type</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Action</th>
                </tr>

                <% for(var i = 0; i < users.length; i++) { %>
                <tr>
                    <td>
                        <!-- TYPE -->
                        <% if (users[i].type) { %>
                            <select class="select">
                            <option><%= users[i].type %></option>
                          </select>
                          <% } %>
                    </td>
                    <td>
                        <!-- EMAIL -->
                        <input type="email" name="email" value="<%= users[i].email %>">
                    </td>
                    <td>
                        <!-- PASSWORDD -->
                        <input type="password" name="password" value="<%= users[i].password %>">
                    </td>
                    <td>
                        <!-- DELETE BUTTON -->
                        <button class="delete-btn"  id="<%= users[i]._id %>" onclick="deleteUser(event)" type="button">Delete account</button>
                    </td>
                </tr>
                <% } %>

                <form id="reg-form">
                <tr>
                    <td>
                        <!-- TYPE -->
                        <select name="accType" id="accType">
                            <option value="Admin">Admin</option>
                            <option value="Employee">Employee</option>
                        </select>
                    </td>
                    <td>
                        <!-- EMAIL -->
                        <input type="email" name="email" id="email">
                    </td>
                    <td>
                        <!-- PASSWORDD -->
                        <input type="password" name="password" id="password">
                    </td>
                    <td>
                        <!-- DELETE BUTTON -->
                        
                    </td>
                </tr>
            

                
            </table>

            <div class="register-container">
                <button type="submit" class="registerBtn">ADD ACCOUNT</button>
            </div>
            
        </div>

    </main> 
</form>

    <script>

        //FOR DECODING JWT TOKEN AFTER LOGGING IN
function parseJwt (token) { 
        var base64Url = token.split('.')[1];
        var base64 = decodeURIComponent(atob(base64Url).split('').map(function(c) {
        return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
    }).join(''));

    return JSON.parse(base64);
}


  


        const form = document.getElementById('reg-form')
        form.addEventListener('submit', registerUser)
     

        async function registerUser(event) {
            event.preventDefault()
            const email = document.getElementById('email').value
            const password = document.getElementById('password').value
            const type = document.getElementById('accType').value


            const result = await fetch('/account', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    type,
                    email,
                    password
                })
            }).then((res) => res.json())
            if(result.status === 'ok') {
                alert('Account created successfully')
                location.reload() // Add this line to refresh the page
            }else {
                alert(result.error)
            }
        }


    async function deleteUser(event) {
        const userId = event.target.id;

        const confirmed = confirm('Are you sure you want to delete this account?');
        if (!confirmed) {
        return;
        }
        const result = await fetch(`/account/${userId}`, {
        method: 'DELETE'
        }).then((res) => res.json());
        if (result.status === 'ok') {
        alert('User deleted successfully');
        location.reload();
        } else {
        alert(result.error);
        }
  }
console.log(localStorage.getItem("TOKEN"))
if (localStorage.getItem("TOKEN") === null) {
        alert("You don't have permission to access this page.");
            document.getElementById("header").style.display = "none"
            document.getElementById("main").style.display = "none"
            window.history.back();
    }

  let accType = parseJwt(localStorage.getItem("TOKEN")).type

    console.log(accType)
    if (localStorage.getItem("TOKEN")) {
        if (accType === "Admin") {

        } else {
            alert("You don't have permission to access this page.");
            document.getElementById("header").style.display = "none"
            document.getElementById("main").style.display = "none"
            window.history.back();

        }
    }



    function logout() {
    if (localStorage.getItem("TOKEN")) {
        localStorage.removeItem("TOKEN")
        window.location.href = "/"
        alert("Logged out sucessfully, redirecting to homepage")
    } else {
        fullSentence.textContent = "Not logged in"
        showEmail.textContent = " "
    }
}

    </script>

    
</body>
</html>