<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/chart.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/smile.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/copy.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/pen.css' rel='stylesheet'>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Inventory</title>
    <link rel="stylesheet" href="/Inventory (Admin).css">
</head>
<body id="body">



    <div class="flexx">
    <div class="nav">
        <div class="image">
            <a href="/">
                <img src="/Six7TwoLogo.png" alt="">
            </a>
        </div>

        <div class="we">
        <a class="bb" href="/products">
            <div class="te">
                <h5 class="test">Products</h5>
            </div>
        </a>

        <a class="bb" href="/inventory">
            <div class="te" id="currentPage">
                <h5 class="test">Inventory &nbsp <span class="badge" id="invNavWarning">0</span> </h5>
            </div>
        </a>

        <a class="bb" href="/reports">
            <div class="te">
                <h5 class="test">Reports</h5>
            </div>
        </a>
        
        <a class="bb" href="/supplier">
            <div class="te">
                <h5 class="test">Supplier</h5>
            </div>
        </a>
        
        <a class="bb" href="/transactions">
            <div class="te">
                <h5 class="test">Transactions</h5>
            </div>
        </a>

        <a class="bb" href="/logs">
            <div class="te">
                <h5 class="test">Logs</h5>
            </div>
        </a>

        <a class="bb" href="/archive">
            <div class="te"">
                <h5 class="test employeeHidden">Archive</h5>
            </div>
        </a>

        <a class="bb" href="/account">
            <div class="te">
                <h5 class="test employeeHidden" id="accBtn">Accounts</h5>
            </div>
        </a>

        <div id="logoutBtn" onclick="logout()" style="cursor: pointer;">
            <h5 class="testLogout" id="accBtn">Logout</h5>
        </div>

    </div>
    </div>
    
    <main>
        <div class="title-con">

            <div>
                <i class="fas fa-bell" id="notifIcon" onclick="showAlert()">
                    <span class="badge" id="lowStockCount">0</span> 
                </i>
                <div class="lowStockDiv" id="lowStockDiv">
            </div>
        </div>
            

       <h1 id="title">INVENTORY</h1>
    </div>
        <input type="hidden" name="action" value="saveEditedRow">
        

        

        <div class="table-container">

            <div id = "prodTableContainer">
            <div class="search-date">

             <!--   <form action="/inventory" method ="get">-->
                <input type="search" id="search" name = "query" placeholder="enter product name or id">
             <!--    <button type = "submit" style="display: none;">Search</button>-->

             <!--   </form>-->
               <!-- <p id="date">-->
                    <!-- Date is dynamically rendered from JS -->
               <!--  </p> -->


            </div>
            
            <table id ="productTable">

                <thead>
                <tr>
                    <th>CODE</th>
                    <th>BRAND</th>
                    <th>NAME</th>
                    <th>CURRENT INVENTORY </th>
                    <th>WHOLESALE PRICE (₱)</th>
                    <th>RETAIL PRICE (₱)</th>
                    <th>TOTAL RETAIL</th>
                    <th>ACTION</th>
                </tr>
            </thead>
              
          
            <% if(products.length > 0) { %>
                <% products.forEach((product,index) => { %>
            <tr class = "database-row product-row">

                
                
                <td><input type="text" contenteditable="true" name ="code[]"  value="<%= product.code %>" disabled></td>
                <td><input type="text" contenteditable="true" name ="brandName[]"  value="<%= product.brandName %>" disabled></td>
                <td><input type="text" contenteditable="true" name = "productName[]"  value="<%= product.productName %>" disabled></td>
                <td><input type="text" contenteditable="true" name = "currentInv[]" value="<%= product.currentInv %>" disabled></td>
                <td><input type="number" contenteditable="true" name = "wholesalePrice[]"  value="<%= product.wholesalePrice %>" disabled></td>
                <td><input type="number" contenteditable="true" id="defaultRetailPrice_<%= product._id %>" name = "retailPrice[]" value="<%= product.retailPrice %>" disabled></td> 
                <td><input type="number" contenteditable="true" name = "totalRetailPrice[]" id="prevTotalRetail_<%= product.id %>" value="<%= product.prevTotalRetail %>" disabled></td> 
              
        
         
             <td>
              <button class="stockInBtn" id="<%= product.id %>" data-target="#stockInModal_<%= product._id %>" type="button" onclick="openstockInModal('<%= product._id %>')">STOCK IN</button>
              <button class="stockOutBtn" id="<%= product.id %>" data-target="#stockOutModal_<%= product._id %>" type="button" onclick="openstockOutModal('<%= product._id %>')">STOCK OUT</button>
             </td>
         
             
            <!-- STOCK IN MODAL -->
             <div id="stockInModal_<%= product._id %>" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closestockInModal('<%= product._id%>')">X</span>
                    <h2>STOCK IN</h2>
                    <form id="stockInForm_<%= product.id %>" method="post" action="stockInInventory/<%= product._id %>">
                        <label for="stockInBrandName">Brand: </label>
                        <input class="readOnlyBG" type="text" id="stockInBrandName_<%= product.id %>" name="stockInBrandName" value="<%= product.brandName %>" readonly><br><br>

                        <label for="stockInCode">Code:</label>
                        <input class="readOnlyBG" type="text" id="stockInCode_<%= product.id %>" name="stockInCode" value="<%= product.code %>" readonly><br><br>
        
                        <label for="stockInProductName">Product Name:</label>
                        <input class="readOnlyBG" type="text" id="stockInProductName_<%= product.id %>" name="stockInProductName" value="<%= product.productName%>" readonly><br><br>
        
                        <label for="stockInLowStockThreshold">Low stock threshold:</label>
                        <input class="readOnlyBG" type="number" id="stockInLowStockThreshold_<%= product.id %>" name="stockInLowStockThreshold"  value="<%= product.lowStockThreshold %>" readonly><br><br>
        
                        <label for="stockInCurrentInv">Current Inventory:</label>
                        <input class="readOnlyBG" type="number" id="stockInCurrentInv_<%= product.id %>" name="stockInCurrentInv" value="<%= product.currentInv %>" readonly><br><br>

                        <label for="stockInWholeSalePrice">Wholesale Price:</label>
                        <input type="number" class="readOnlyBG" id="stockInWholeSalePrice_<%= product.id %>" name="stockInWholeSalePrice" value="<%= product.wholesalePrice %>" readonly><br><br>
                        
                        <label for="stockInRemarks">Remarks:</label>
                        <select name="stockInRemarks" id="remarksOptions_<%= product.id %>">
                            <option value="Restock">Restock</option>
                        </select>

                        <br><br>

                        <label for="qtyStockIn">QTY:</label>
                        <input type="number" id="qtyStockIn_<%= product.id %>" name="qtyStockIn" min="1"><br><br>

                        <button type="submit" class="modalSubmit">Restock</button>
                    </form>
                </div>
            </div>
            

            <!-- STOCK OUT MODAL -->
            <div id="stockOutModal_<%= product._id %>" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closestockOutModal('<%= product._id%>')">X</span>
                    <h2>STOCK OUT</h2>
                    <form id="stockOutForm_<%= product.id %>" method="post" action="stockOutInventory/<%= product._id %>">
                        <label for="stockOutBrandName">Brand: </label>
                        <input class="readOnlyBG" type="text" id="stockOutBrandName_<%= product.id %>" name="stockOutBrandName" value="<%= product.brandName %>" readonly><br><br>

                        <label for="stockOutCode">Code:</label>
                        <input class="readOnlyBG" type="text" id="stockOutCode_<%= product.id %>" name="stockOutCode" value="<%= product.code %>" readonly><br><br>
        
                        <label for="stockOutProductName">Product Name:</label>
                        <input class="readOnlyBG" type="text" id="stockOutProductName_<%= product.id %>" name="stockOutProductName" value="<%= product.productName%>" readonly><br><br>
        
                        <label for="stockOutLowStockThreshold">Low stock threshold:</label>
                        <input class="readOnlyBG" type="number" id="stockOutLowStockThreshold_<%= product.id %>" name="stockOutLowStockThreshold"  value="<%= product.lowStockThreshold %>" readonly><br><br>
        
                        <label for="stockOutCurrentInv">Current Inventory:</label>
                        <input class="readOnlyBG" type="number" id="stockOutCurrentInv_<%= product.id %>" name="stockOutCurrentInv" value="<%= product.currentInv %>" readonly><br><br>

                        <label for="stockOutWholeSalePrice">Wholesale Price:</label>
                        <input class="readOnlyBG" type="number" id="stockOutWholeSalePrice_<%= product.id %>" name="stockOutWholeSalePrice" value="<%= product.wholesalePrice %>" readonly><br><br>

                        <label for="stockOuRetailPrice">Retail Price:</label>
                        <input type="number" class="readOnlyBG" id="stockOutRetailPrice_<%= product.id %>" name="stockOuRetailPrice" value="<%= product.retailPrice %>" readonly><br><br>
                     
                        <label for="stockOutRemarks">Remarks:</label>
                        <select name="stockOutRemarks" id="stockOutRemarksOptions_<%= product.id %>">
                            <option value="Sold">Sold</option>
                            <option value="Donated">Donated</option>
                            <option value="Lost">Lost</option>
                        </select>

                        <br><br>

                        <label for="qtyStockOut">QTY:</label>
                        <input type="number" id="qtyStockOut_<%= product.id %>" name="qtyStockOut" min="0"><br><br>

                        <button type="submit" class="modalSubmit">Proceed</button>
                    </form>
                </div>
            </div>


             <% }) %>

                <%} else { %>
                    <p>There is no inventory yet...</p>
                
                <% } %>   

             
                
            </table>

        </div>
            <div class="save-addproduct">
                <!--<button id="editSave" class="editSave" type="submit">SAVE</button> -->
                
            </div>
        <!--  </form> -->
            

        

        <form id = "saveProduct" action="/products" method = "post">

            <input type="hidden" name="action" value="addProduct">

        <table id ="productTable2">

            <tbody>


            </tbody>
        </table>

        

        </form>

     
       
        
    

   

            
        </div>

    </main> 

    </div>

    <div id="productsDisplay" style="display: none;"><%= JSON.stringify(products) %></div>

 

    </div>

    <script>

$(document).ready(function () {
      $('#search').on('input', function () {
         var searchTerm = $(this).val().toLowerCase();

         $('.product-row').each(function () {
            var rowText = $(this).find('input, select').map(function() {
               return $(this).val().toLowerCase();
            }).get().join(' ');

            if (rowText.includes(searchTerm)) {
               $(this).show();
            } else {
               $(this).hide();
            }
         });
      });
   });



const productsData = document.getElementById('productsDisplay').innerHTML;
const decodedProducts = JSON.parse(productsData.replace(/&quot;/g, '"'));
console.log(decodedProducts);

let lowStockCountSpan = document.getElementById('lowStockCount')
let notifDiv = document.getElementById('lowStockDiv')
let notifIcon = document.getElementById('notifIcon')

let lowStockCount = 0;

if (decodedProducts.length > 0) {
    let productDetailsHTML = '';

    for (let i = 0; i < decodedProducts.length; i++) {
        if (decodedProducts[i].currentInv <= decodedProducts[i].lowStockThreshold) {
            lowStockCount++;
            let productDetails = `Product: ${decodedProducts[i].productName}, TH: ${decodedProducts[i].lowStockThreshold}, Inv: ${decodedProducts[i].currentInv} <br>`;
            productDetailsHTML += productDetails;
        }
    }

    notifDiv.innerHTML = productDetailsHTML;

    // Show or hide notifDiv based on the lowStockCount
    if (lowStockCount > 0) {
        notifDiv.style.display = 'none';
    } else {
        notifDiv.style.display = 'none';
        notifIcon.style.display = 'none';
    }
} else {
    notifDiv.style.display = 'none';
    notifIcon.style.display = 'none';
}


lowStockCountSpan.textContent = lowStockCount
if (lowStockCount == 0) {
    document.getElementById('invNavWarning').style.display = "none"
}
document.getElementById('invNavWarning').textContent = lowStockCount

function showAlert() {
    notifDiv.style.display = "block"
}



    
  // Select all elements with class 'editBtn'
let stockInBtns = document.querySelectorAll(".stockInBtn");


let idLastClicked;
// Loop through each button and attach an event listener
stockInBtns.forEach(button => {
    button.addEventListener("click", (e) => {
        console.log(e.target.id);
        idLastClicked = e.target.id
    
    });
});



   // Get the modal
const modal = document.getElementById('myModal');
const stockInModal = document.getElementById(`stockInModal`);

// Get the button that opens the modal
const btn = document.getElementById('addRowButton');

// Get the <span> element that closes the modal
const span = document.getElementById("close")

//STOCK IN FUNCTION
function openstockInModal(productId) {
  const modal = document.getElementById(`stockInModal_${productId}`);
  if (modal) {
    modal.style.display = 'block';

    const stockInForm = document.getElementById(`stockInForm_${productId}`);
    let stockInCode = document.getElementById(`stockInCode_${productId}`);
    let stockInBrandName = document.getElementById(`stockInBrandName_${productId}`);
    let stockInProductName = document.getElementById(`stockInProductName_${productId}`);
    let stockInWholeSalePrice = document.getElementById(`stockInWholeSalePrice_${productId}`);
    let defaultRetailPriceValue = parseFloat(document.getElementById(`defaultRetailPrice_${productId}`).value);
    let stockInLowStockThreshold = document.getElementById(`stockInLowStockThreshold_${productId}`);
    let prevTotalRetail = parseFloat(document.getElementById(`prevTotalRetail_${productId}`).value);

    let stockInRemark = document.getElementById(`remarksOptions_${productId}`);

    
// Assuming this code runs after the creation or update of the form
console.log("EDITCODE", stockInCode.value)

stockInForm.addEventListener("submit", (event) => {
    let stockInCurrentInvValue = parseFloat(document.getElementById(`stockInCurrentInv_${productId}`).value);
    let qtyStockIn = parseFloat(document.getElementById(`qtyStockIn_${productId}`).value);
   
    let currentInv = stockInCurrentInvValue + qtyStockIn;
    console.log("EDITCODE", stockInCode.value)

    let prevTotalRetail = currentInv * defaultRetailPriceValue

    let totalRetail = prevTotalRetail + (defaultRetailPriceValue * qtyStockIn)

 
    // Get the updated values from the form fields
    const updatedData = {
        code: stockInCode.value,
        brandName: stockInBrandName.value,
        productName: stockInProductName.value,
        lowStockThreshold: stockInLowStockThreshold.value,
        totalRetail: prevTotalRetail,
        prevTotalRetail: prevTotalRetail,
        currentInv: currentInv,
        prevQtyStockIn: qtyStockIn
    };

    fetch(`/stockInInventory/${productId}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(updatedData)
    })
    .then(response => {
        if (response.ok) {
            // Handle success
            return response.json(); // Parse the response body as JSON
        } else {
            throw new Error('Error stocking in inventory');
        }
    })
    .then(data => {
        // Here 'data' contains the updated product from the server
        console.log(data.updatedProduct);
        // Perform actions with the updated product data as needed
        const stockInModal = document.getElementById('stockInModal');
        // Close the modal, update UI, etc.
        location.reload()
    })
    .catch(error => {
        location.reload()
    });

    let user = parseJwt(localStorage.getItem("TOKEN")).email
    fetch('/transactions', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({
        user: user,
        productName: stockInProductName.value,
        stockIn: qtyStockIn,
        stockOut: 0,
        wholesalePrice: stockInWholeSalePrice.value,
        retailPrice: 0,
        remarks: stockInRemark.value
    })
  })
    .then(response => {
      if (response.ok) {
        // Handle success for the transaction
        // ...
      } else {
        // Handle errors if the request fails
        console.error('Error with the transaction');
      }
    })
    .catch(error => {
      console.error('Error:', error);
    });

    event.preventDefault();
});
  }
}



//STOCK OUT FUNCTION
function openstockOutModal(productId) {
  const modal = document.getElementById(`stockOutModal_${productId}`);
  if (modal) {
    modal.style.display = 'block';

    const stockOutForm = document.getElementById(`stockOutForm_${productId}`);
    let stockOutCode = document.getElementById(`stockOutCode_${productId}`);
    let stockOutBrandName = document.getElementById(`stockOutBrandName_${productId}`);
    let stockOutProductName = document.getElementById(`stockOutProductName_${productId}`);
    let stockOutWholeSalePrice = document.getElementById(`stockOutWholeSalePrice_${productId}`);
    
    let stockOutLowStockThreshold = document.getElementById(`stockOutLowStockThreshold_${productId}`);
    let prevTotalRetail = parseFloat(document.getElementById(`prevTotalRetail_${productId}`).value);

    let stockOutRemarks = document.getElementById(`stockOutRemarksOptions_${productId}`)
    
// Assuming this code runs after the creation or update of the form
console.log("EDITCODE", stockOutCode.value)

stockOutForm.addEventListener("submit", (event) => {

    let stockOutCurrentInvValue = parseFloat(document.getElementById(`stockOutCurrentInv_${productId}`).value);
    let qtyStockOut = parseFloat(document.getElementById(`qtyStockOut_${productId}`).value);
    let retailPriceValue =  parseFloat(document.getElementById(`stockOutRetailPrice_${productId}`).value);
  
    let currentInv = stockOutCurrentInvValue - qtyStockOut;
    console.log("EDITCODE", stockOutCode.value)

    let totalRetail = prevTotalRetail - (retailPriceValue * qtyStockOut)

    let totalSales

    if (stockOutRemarks.value == "Sold") {
        totalSales = /* prevTotalRetail + */(retailPriceValue * qtyStockOut)
    } else if (stockOutRemarks.value == "Lost" || stockOutRemarks.value == "Donated") {
        totalSales = 0;
    }
    
   
   


    // Get the updated values from the form fields
    const updatedData = {
        code: stockOutCode.value,
        brandName: stockOutBrandName.value,
        productName: stockOutProductName.value,
        lowStockThreshold: stockOutLowStockThreshold.value,
        currentInv: currentInv,
        totalRetail: totalRetail,
        prevTotalRetail: totalRetail,
        prevQtyStockIn: qtyStockOut
    };

    fetch(`/stockOutInventory/${productId}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(updatedData)
    })
    .then(response => {
        if (response.ok) {
            // Handle success
            return response.json(); // Parse the response body as JSON
        } else {
            throw new Error('Error stocking in inventory');
        }
    })
    .then(data => {
        // Here 'data' contains the updated product from the server
        console.log(data.updatedProduct);
        // Perform actions with the updated product data as needed
        const stockInModal = document.getElementById('stockInModal');
        // Close the modal, update UI, etc.
        location.reload()
    })
    .catch(error => {
        location.reload()
    });


    let user = parseJwt(localStorage.getItem("TOKEN")).email
    fetch('/transactions', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({
        user: user,
        code: stockOutCode.value,
        productName: stockOutProductName.value,
        stockIn: 0,
        stockOut: qtyStockOut,
        wholesalePrice: 0,
        retailPrice: retailPriceValue,
        remarks: stockOutRemarks.value,
        totalSales: totalSales
    })
  })
    .then(response => {
      if (response.ok) {
        // Handle success for the transaction
        // ...
      } else {
        // Handle errors if the request fails
        console.error('Error with the transaction');
      }
    })
    .catch(error => {
      console.error('Error:', error);
    });

    event.preventDefault();
});
  }
}




// Function to close the edit modal
function closestockInModal(productId) {
  const modal = document.getElementById(`stockInModal_${productId}`);
  if (modal) {
    modal.style.display = 'none';
  }
}

// Function to close the edit modal
function closestockOutModal(productId) {
  const modal = document.getElementById(`stockOutModal_${productId}`);
  if (modal) {
    modal.style.display = 'none';
  }
}

function logout() {
    if (localStorage.getItem("TOKEN")) {
        localStorage.removeItem("TOKEN")
        window.location.href = "/"
        alert("Logged out sucessfully, redirecting to homepage")
    } else {
        fullSentence.textContent = "Not logged in"
        showEmail.textContent = " "
    }
}


//FOR DECODING JWT TOKEN AFTER LOGGING IN
function parseJwt (token) { 
        var base64Url = token.split('.')[1];
        var base64 = decodeURIComponent(atob(base64Url).split('').map(function(c) {
        return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
    }).join(''));

    return JSON.parse(base64);
}

let accBtn = document.getElementById("accBtn")
let accType = parseJwt(localStorage.getItem("TOKEN")).type
    let employeeHidden = document.getElementsByClassName("employeeHidden");

    if (localStorage.getItem("TOKEN")) {
        if (accType === "Admin") {
            accBtn.style.display = "flex"
        } else {
            console.log("Should not")
            for (let i = 0; i < employeeHidden.length; i++) {
                employeeHidden[i].style.display = "none";
            }
        }
    }


        
      

   


    if (localStorage.getItem("TOKEN") === null) {
        document.getElementById("body").style.display = "none"
        alert("You don't have permission to access this page.");
            window.history.back();
    }

    
   
        </script>
    </body>
</html>
